<h1>Links</h1>

Yout id is: <%= session[:user_id] %>

<div>
  <%= link_to("Add link", {:action => "new", :user_id => session[:user_id]}) %>
</div>

<div>
  <% unless @links[:today].empty? %>
    <h1> Today: </h1>
    <% @links[:today].each do |l| %>          
      <%=  render(:partial => "displayed_link_form", :locals => {:displayed_text => displayed_text(l), :l => l}) %>
     <% end #each%>
  <% end %>
</div>

<div>
  <% unless @links[:yesterday].empty? %>
    <h1> Yesterday </h1>
    <% @links[:yesterday].each do |l| %>          
      <%=  render(:partial => "displayed_link_form", :locals => {:displayed_text => displayed_text(l), :l => l}) %>
     <% end #each%>
  <% end %>
</div>

<div>
  <% unless @links[:earlier].empty? %>
    <h1> Earlier: </h1>
    <% @links[:earlier].each do |l| %>          
      <%=  render(:partial => "displayed_link_form", :locals => {:displayed_text => displayed_text(l), :l => l}) %>
     <% end #each%>
  <% end %>
</div>

<div>
  <%= link_to("Logout", {:controller => "access", :action => "logout"}) %>
</div>